{% extends "_base.twig"  %}

{% block content %}
    <div class="card card-login mx-auto mt-3">
        <div class="card-header">TEST</div>
        <div class="card-body">
            Hello world from view
        </div>
    </div>
{% endblock %}
