{% extends "layouts/_base.twig"  %}

{% block content %}
    <div class="card card-login mx-auto mt-3">
        <div class="card-header text-white bg-primary">TEST</div>
        <div class="card-body">
            <ul>
                {% for item in NAMES %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
