<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ TITLE }}</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <!-- request message -->
    <div id="login-message" class="text-center"></div>

    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ base_url() }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ base_url() }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
